In [1]:
import math

import pandas as pd

In [2]:
data = pd.read_csv(r'.\Groceries 1.csv')
# data.drop_duplicates(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [30]:
transactions = data.groupby(['Member_number', 'Date'])\
                   .aggregate(set)\
                   .reset_index()
transactions['Tid'] = transactions['Member_number'].astype('str') + '-' + transactions['Date']
transactions.drop(['Member_number', 'Date'], axis=1, inplace=True)
transactions

                                         itemDescription              Tid
0      {semi-finished bread, whole milk, yogurt, saus...  1000-15-03-2015
1                      {pastry, whole milk, salty snack}  1000-24-06-2014
2                         {canned beer, misc. beverages}  1000-24-07-2015
3                            {hygiene articles, sausage}  1000-25-11-2015
4                             {soda, pickled vegetables}  1000-27-05-2015
...                                                  ...              ...
14958  {other vegetables, yogurt, berries, kitchen to...  4999-24-01-2015
14959                             {bottled water, herbs}  4999-26-12-2015
14960                    {fruit/vegetable juice, onions}  5000-09-03-2014
14961       {semi-finished bread, soda, root vegetables}  5000-10-02-2015
14962                   {other vegetables, bottled beer}  5000-16-11-2014

[14963 rows x 2 columns]

In [ ]:
all_items = set().union(*transactions['itemDescription'])
len(all_items)

167

In [50]:
vert_df = pd.DataFrame([(item, set()) for item in all_items], columns=['itemDescription', 'Tids'])
for i, row in vert_df.iterrows():
    item_trans = transactions[transactions['itemDescription']\
                              .apply(lambda x: row['itemDescription'] in x)]['Tid']
    row['Tids'] = set(item_trans)

In [51]:
vert_df

       itemDescription                                               Tids
0               grapes  {3183-10-12-2014, 2235-10-10-2014, 3241-20-09-...
1           whole milk  {3140-25-09-2014, 2466-10-10-2015, 3487-25-03-...
2                soups  {1500-20-06-2014, 3262-08-12-2015, 2114-24-05-...
3         meat spreads  {1190-25-11-2014, 4637-08-12-2014, 2437-09-10-...
4         dish cleaner  {2235-10-10-2014, 2366-11-10-2014, 3172-01-03-...
..                 ...                                                ...
162  canned vegetables  {3532-17-08-2014, 3416-15-11-2015, 1817-15-11-...
163                ham  {3299-09-01-2014, 2235-25-10-2015, 3462-15-11-...
164     toilet cleaner  {4682-21-04-2014, 3256-17-12-2014, 3948-08-04-...
165               fish  {1024-10-08-2015, 2157-29-10-2015, 3226-15-09-...
166           cat food  {2408-10-11-2014, 1206-02-01-2015, 4665-03-12-...

[167 rows x 2 columns]

In [ ]:
set().union()

In [ ]:
from eclat_algo import eclat

In [13]:
#1 
#2 cheese butter
#3 cheese eggs
#4 cheese eggs butter
#5 cheese
test = [(1, 'bread'), (2, 'bread'), (5, 'bread'),
        (1, 'milk'), (4, 'milk'), (5, 'milk'),
        (2, 'cheese'), (3, 'cheese'), (4, 'cheese'), (5, 'cheese'),
        (2, 'butter'), (4, 'butter'),
        (3, 'eggs'), (4, 'eggs')]
test_df = pd.DataFrame(test, columns=['index', 'item'])
eclat(test_df, .4, 'item')

[(['butter'], 2),
 (['eggs'], 2),
 (['bread'], 3),
 (['milk'], 3),
 (['cheese'], 4),
 (['butter', 'cheese'], 2),
 (['eggs', 'cheese'], 2),
 (['bread', 'milk'], 2),
 (['bread', 'cheese'], 2),
 (['milk', 'cheese'], 2)]

In [15]:
transformed_df = data.copy(deep=True)
transformed_df['Tid'] = transformed_df['Member_number'].astype('str') + '-' + transformed_df['Date']
transformed_df.drop(['Member_number', 'Date'], axis=1, inplace=True)

eclat(transformed_df, 0.01, 'itemDescription')

[(['soft cheese'], 150),
 (['processed cheese'], 152),
 (['red/blush wine'], 157),
 (['herbs'], 158),
 (['white wine'], 175),
 (['cat food'], 177),
 (['chewing gum'], 180),
 (['hygiene articles'], 205),
 (['specialty bar'], 209),
 (['sliced cheese'], 210),
 (['candy'], 215),
 (['grapes'], 216),
 (['hard cheese'], 220),
 (['oil'], 223),
 (['ice cream'], 227),
 (['misc. beverages'], 236),
 (['specialty chocolate'], 239),
 (['beverages'], 248),
 (['frozen meals'], 251),
 (['meat'], 252),
 (['ham'], 256),
 (['butter milk'], 263),
 (['sugar'], 265),
 (['long life bakery product'], 268),
 (['waffles'], 277),
 (['salty snack'], 281),
 (['onions'], 303),
 (['UHT-milk'], 320),
 (['berries'], 326),
 (['hamburger meat'], 327),
 (['napkins'], 331),
 (['chocolate'], 353),
 (['dessert'], 353),
 (['cream cheese '], 354),
 (['white bread'], 359),
 (['chicken'], 417),
 (['frozen vegetables'], 419),
 (['coffee'], 473),
 (['margarine'], 482),
 (['curd'], 504),
 (['beef'], 508),
 (['fruit/vegetable juice'], 509),
 (['butter'], 527),
 (['pork'], 555),
 (['domestic eggs'], 555),
 (['brown bread'], 563),
 (['frankfurter'], 565),
 (['newspapers'], 582),
 (['whipped/sour cream'], 654),
 (['bottled beer'], 678),
 (['canned beer'], 702),
 (['shopping bags'], 712),
 (['pip fruit'], 734),
 (['pastry'], 774),
 (['citrus fruit'], 795),
 (['sausage'], 903),
 (['bottled water'], 908),
 (['tropical fruit'], 1014),
 (['root vegetables'], 1041),
 (['yogurt'], 1285),
 (['soda'], 1453),
 (['rolls/buns'], 1646),
 (['other vegetables'], 1827),
 (['whole milk'], 2363),
 (['yogurt', 'whole milk'], 167),
 (['soda', 'whole milk'], 174),
 (['rolls/buns', 'other vegetables'], 158),
 (['rolls/buns', 'whole milk'], 209),
 (['other vegetables', 'whole milk'], 222)]

In [16]:
sup = .01
minFreq = math.ceil(len(transformed_df['Tid'].unique()) * sup)
minFreq

150

In [111]:
counts = data.groupby('itemDescription').count()
counts[counts['Member_number'] >= minFreq]

                    Member_number  Date
itemDescription
UHT-milk                      320   320
beef                          508   508
berries                       326   326
beverages                     248   248
bottled beer                  678   678
...                           ...   ...
whipped/sour cream            654   654
white bread                   359   359
white wine                    175   175
whole milk                   2363  2363
yogurt                       1285  1285

[64 rows x 2 columns]