In [2]:
import math

import pandas as pd

In [29]:
data = pd.read_csv(r'.\Groceries 1.csv')
# data.drop_duplicates(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [30]:
transactions = data.groupby(['Member_number', 'Date'])\
                   .aggregate(set)\
                   .reset_index()
transactions['Tid'] = transactions['Member_number'].astype('str') + '-' + transactions['Date']
transactions.drop(['Member_number', 'Date'], axis=1, inplace=True)
transactions

                                         itemDescription              Tid
0      {semi-finished bread, whole milk, yogurt, saus...  1000-15-03-2015
1                      {pastry, whole milk, salty snack}  1000-24-06-2014
2                         {canned beer, misc. beverages}  1000-24-07-2015
3                            {hygiene articles, sausage}  1000-25-11-2015
4                             {soda, pickled vegetables}  1000-27-05-2015
...                                                  ...              ...
14958  {other vegetables, yogurt, berries, kitchen to...  4999-24-01-2015
14959                             {bottled water, herbs}  4999-26-12-2015
14960                    {fruit/vegetable juice, onions}  5000-09-03-2014
14961       {semi-finished bread, soda, root vegetables}  5000-10-02-2015
14962                   {other vegetables, bottled beer}  5000-16-11-2014

[14963 rows x 2 columns]

In [ ]:
from eclat_algo import eclat

In [ ]:
#1 
#2 cheese butter
#3 cheese eggs
#4 cheese eggs butter
#5 cheese
test = [(1, 'bread'), (2, 'bread'), (5, 'bread'),
        (1, 'milk'), (4, 'milk'), (5, 'milk'),
        (2, 'cheese'), (3, 'cheese'), (4, 'cheese'), (5, 'cheese'),
        (2, 'butter'), (4, 'butter'),
        (3, 'eggs'), (4, 'eggs')]
test_df = pd.DataFrame(test, columns=['index', 'item'])
eclat(test_df, .4, 'item')

[(['butter'], 2),
 (['eggs'], 2),
 (['bread'], 3),
 (['milk'], 3),
 (['cheese'], 4),
 (['butter', 'cheese'], 2),
 (['eggs', 'cheese'], 2),
 (['bread', 'milk'], 2),
 (['bread', 'cheese'], 2),
 (['milk', 'cheese'], 2)]

In [114]:
sup = .005
minFreq = math.ceil(len(transactions) * sup)
minFreq

75

In [111]:
counts = data.groupby('itemDescription').count()
counts[counts['Member_number'] >= minFreq]

                    Member_number  Date
itemDescription
UHT-milk                      320   320
beef                          508   508
berries                       326   326
beverages                     248   248
bottled beer                  678   678
...                           ...   ...
whipped/sour cream            654   654
white bread                   359   359
white wine                    175   175
whole milk                   2363  2363
yogurt                       1285  1285

[64 rows x 2 columns]